﻿@model MvcMyBlog.Models.Comment

@{
    ViewBag.Title = "Create";
}

<!--<h2>Create</h2>-->

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<!--

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Comment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostID)
            @Html.ValidationMessageFor(model => model.PostID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CommentDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentDate)
            @Html.ValidationMessageFor(model => model.CommentDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CommentContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentContent)
            @Html.ValidationMessageFor(model => model.CommentContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserFullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserFullName)
            @Html.ValidationMessageFor(model => model.UserFullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserEmail)
            @Html.ValidationMessageFor(model => model.UserEmail)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

-->



@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)


                               
	<h3 id="reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display: none;">Cancel reply</a></small></h3>
							
    <p class="comment-notes">Required fields are marked <span class="required">*</span></p>

    
    
    <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.PostID)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.PostID)
            @Html.ValidationMessageFor(model => model.PostID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.CommentDate)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.CommentDate)
            @Html.ValidationMessageFor(model => model.CommentDate)
        </div>
    
    
									<p class="comment-form-author">
										<label for="author">Name</label> <span class="required">*</span>
									
                                        @Html.EditorFor(model => model.UserFullName)
                                        @Html.ValidationMessageFor(model => model.UserFullName)
									</p>

									<p class="comment-form-email">
										<label for="email">Email</label> <span class="required">*</span>
									
                                        @Html.EditorFor(model => model.UserEmail)
                                        @Html.ValidationMessageFor(model => model.UserEmail)
									</p>
									
									<p class="comment-form-comment">
										<label for="comment">Comment</label> <span class="required">*</span>
										
                                        @Html.TextAreaFor(model => model.CommentContent)
                                        @Html.ValidationMessageFor(model => model.CommentContent)
									</p>

   
									<p class="form-submit">
										<input name="submit" id="submit" value="Post Comment" type="submit">
									</p>
								
							
    
    
}



<div>
    <!-- @Html.ActionLink("Back to List", "Index") -->

    <!--<a href="../../Home/Details/@Request["PostID"]">Back To Post</a>-->

</div>
