
	@import url(css/reset.css);  	/* HTML5 Reset	*/
	@import url(css/grid.css);   	/* 960 Grid Sys	*/
	@import url(css/nivo.css);  	/* Nivo Slider	*/
	@import url(css/help.css);  	/* Help Classes	*/
	@import url(css/core.css);   	/* Hipstar Core	*/

	body {color:#373c3f; background:url('images/pattern.png') #f0f4e9;}

	a, a:visited{color:#7e8b8f;}
	a:hover {color:#383d40;}

	p {color:#586164;}

	blockquote {border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb;}
	
	input, textarea {background:#f9faf8; border:1px solid #ccc; color:#707070;}
	
	h1, h2, h3, h4, h5, h6 {color:#373C3F;}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#373C3F;}
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#373C3F;}
	
	.heart {display:inline-block; margin:0 10px; width:12px; height:12px; background:url(images/heart.png) no-repeat center center;}
	
/* Patterns ---------- */
	.pattern-1 {background-image:url('images/patterns/pattern-1.png');}
	.pattern-2 {background-image:url('images/patterns/pattern-2.png');}
	.pattern-3 {background-image:url('images/patterns/pattern-3.png');}
	.pattern-4 {background-image:url('images/patterns/pattern-4.png');}
	.pattern-5 {background-image:url('images/patterns/pattern-5.png');}
	.pattern-6 {background-image:url('images/patterns/pattern-6.png');}
	.pattern-7 {background-image:url('images/patterns/pattern-7.png');}
	.pattern-none {background-image: url('images/noise.png');}
	
/* Back to top button ---------- */
	.back-to-top {border:1px solid #e9ebe5;}
	.back-to-top a {background:#999; color:#fff;}
	.back-to-top a:hover {background-color:#707070; color:#fff;}

/* Header (left column) --------- */
	#header {background:url('images/bg-header-left.png') right; -webkit-box-shadow:0 0 4px #555; -moz-box-shadow:0 0 4px #555; box-shadow:0 0 4px #555;}
	#header h1 {background:url('images/bg-logo.png') no-repeat top right;}
	#header h1 a {color:#555;}

	#nav-primary li span {background:url('images/nav-toggle.png') no-repeat;}
	#nav-primary .active span {background:url('images/nav-toggle-active.png') no-repeat;}
	#nav-primary .current span {background:url('images/nav-toggle-current.png') no-repeat;}
	
	#nav-primary a {border-bottom:1px solid #4d4a36; color:#fff;}
	#nav-primary a:hover {color:#fff;}
	#nav-primary ul > li > a {background:url('images/bg-nav-link.png') repeat-x top; text-shadow:0 -1px 0 #1b1a13;}
	#nav-primary ul ul a {color:#e8ebd8;}
	#nav-primary .current, #nav-primary .active {border-bottom:1px solid #7c7958; background:url('images/noise.png') #3a3829; -webkit-box-shadow:inset 5px 0 10px #1b1a13; -moz-box-shadow:inset 5px 0 10px #1b1a13; box-shadow:inset 5px 0 10px #1b1a13;}
	#nav-primary .current a, #nav-primary .active a {background:url('images/bg-nav-primary-active.png'); text-shadow:0 -1px 0 #1b1a13; border-bottom:1px dotted #1b1a13;}

/* Top Bar --------- */
	#main  > header {background:url('images/bg-action-bar.png'); border-bottom:1px solid #f9faf7; -webkit-box-shadow:0 0 5px #dbddd8; -moz-box-shadow:0 0 5px #dbddd8; box-shadow:0 0 5px #dbddd8;}
	#tagline {color:#7a6a46; text-shadow:0 1px 0 #fff;}

	/* Breadcrumbs ---------- */
	.breadcrumbs {color:#999;}
	.breadcrumbs li {background:url('images/breadcrumbs-sep.png') no-repeat right bottom;}
	.breadcrumbs a {}
	.breadcrumbs a:hover {}

	/* Call to Action (Hire Me) ---------- */
	#call-to-action {background:url('images/bg-action-hire.png') no-repeat top center;}
	#call-to-action a {color:#fff; text-shadow:0 1px 0 #7e2f0d;}
	#call-to-action a span {border-bottom:1px dashed #ff7727;}

/* Main Content Area --------- */
	figure {background:url('images/loader.gif') no-repeat 50% 50%;}
	.post {background:#fff; -webkit-box-shadow:0 0 5px #e9ebe5; -moz-box-shadow:0 0 5px #e9ebe5; box-shadow:0 0 5px #e9ebe5;}
	.post .post-title {}
	.post .post-title a {}
	.post .post-title a:hover {}
	.post h4, .post h5, .post h6 {}
	.post h4 a, .post h5 a, .post h6 a {}
	.post h4 a:hover, .post h5 a:hover, .post h6 a:hover {}
	.post p {}
	.post .meta p {}
	.post .meta .comments {background:url('images/comments.png') no-repeat left;}
	.list .post-title {border-bottom:1px solid #ebebeb !important;}
	.single #content-area .post-title, .page #content-area .post-title {border-bottom:1px solid #ebebeb; color:#373c3f;}

/* Large Image Preview ---------- */
	.preview-large-hover {background:url('images/bg-image-hover.png');}
	.preview-large-hover a {background:url('images/image-hover-mag.png') no-repeat;}
	#jq_ez_bg {background:url('images/loader.gif') no-repeat 50% 50%;}
	#img-preview-controls {background:url('images/bg-image-hover.png');}
	#img-title {color:#fff;}
	#img-title:hover {color:#e1dea1;}
	#img-close, #img-view-post {color:#fff; background:url('images/bg-image-hover.png');}
	#img-view-post:hover, #img-close:hover {background:#000;}

/* Post Format Ribbons ---------- */
	.format-gallery .format-ribbon {background:url('images/post-types/post-gallery.png');}
	.format-image .format-ribbon {background:url('images/post-types/post-image.png');}
	.format-quote .format-ribbon {background:url('images/post-types/post-quote.png');}
	.format-video .format-ribbon {background:url('images/post-types/post-video.png');}
	.format-audio .format-ribbon {background:url('images/post-types/post-audio.png');}
	.format-chat .format-ribbon {background:url('images/post-types/post-chat.png');}
	.format-standard .format-ribbon {}
	.format-aside .format-ribbon {}
	.format-link .format-ribbon {}
	.format-status .format-ribbon {}

/* Side Bar Widgets --------- */
	aside {color:#999;}
	.widget {text-shadow:0 1px 0 #fff;}
	.widget h4 {color:#373c3f;}
	.widget a {color:#586164;}
	.widget a:hover {color:#373c3f;}

	/* List style 1 (Default) --------- */
	#main-content ul, .list-style-1, .widget-style-1 ul {list-style-image:url('images/bullet-style-1.png');}
	#main-content li, .list-style-1 li, .widget-style-1 li {border-bottom:1px dotted #dddfda;}
	#main-content li:hover, .list-style-1 li:hover, .widget-style-1 li:hover {list-style-image:url('images/bullet-style-1-hover.png');}
	
	/* List style 2 --------- */
	.list-style-2, .widget-style-2 ul {list-style-image:url('images/bullet-style-2.png');}
	.list-style-2 li, .widget-style-2 li {border-bottom:1px dotted #dddfda;}
	.list-style-2 li:hover, .widget-style-2 li:hover {list-style-image:url('images/bullet-style-2-hover.png');}
	
	/* List style 3 --------- */
	.list-style-3 li, .widget-style-3 li {border:1px solid #e9ebe5;}
	.list-style-3 a, .widget-style-3 a {border:1px solid #fff; background:url('images/bg-body.png'); -webkit-box-shadow:inset 0 0 8px #fff; -moz-box-shadow:inset 0 0 8px #fff; 		box-shadow:inset 0 0 8px #fff;}
	.list-style-3 a:hover, .widget-style-3 a:hover {background:#fff;}

/* Comments --------------*/
	.commentlist ul {border-left:1px solid #ebebeb;}
	.comment-reply-link {border-top:1px #ccc; border-left:1px #ccc; background:url('images/comment-reply.png') no-repeat 7px 5px #f5f5f5;}
	.comment-reply-link:hover {border-top:1px solid #383531; border-left:1px solid #383531; background:url('images/comment-reply.png') no-repeat 7px -17px #555e61;}
	#respond, .comment-body {background:#fff; -webkit-box-shadow:0 0 5px #e9ebe5; -moz-box-shadow:0 0 5px #e9ebe5; box-shadow:0 0 5px #e9ebe5;}
	.comment-body .fn {color:#707070;}
	.comment-meta {border-left:1px solid #ebebeb;}
	.required {color:#d9574c;}
	#respond p {border-bottom:1px solid #ebebeb;}

/* Nivo Slider Plugin -------------*/
	.nivoSlider {background:url('images/loader.gif') no-repeat 50% 50%;}
	.nivo-caption {color:#fff; background:none;}
	.nivo-caption p {color:#999; background:#fff;}
	.nivo-controlNav a, .list .cycle-nav a, .grid .cycle-nav a {background:#e8f0cb;}
	.nivo-controlNav a.active, .list .cycle-nav .activeSlide, .grid .cycle-nav .activeSlide {background:#586164;}
	.nivo-directionNav a {background:url('images/nivo-arrows.png') no-repeat;}
	a.nivo-nextNav {background-position:-30px 0;}
	.nivo-caption a {color:#999;border-bottom:1px dotted #ebebeb;}
	.nivo-caption a:hover {color:#707070;}

/* Pagination -------------*/
	.pagination li a, .pagination li span {background:#999; color:#fff;}
	.pagination li a:hover, .pagination li span:hover {background-color:#707070; color:#fff;}
	.pagination a:active, .pagination .current, .pagination .current:hover {background-color:#707070; color:#fff;}
	
/* Footer  -------------*/
	#social a {}
	#social #dribbble {background:url('images/social/dribbble.png') no-repeat 0 0;}
	#social #linkedin {background:url('images/social/linked-in.png') no-repeat 0 0;}
	#social #twitter {background:url('images/social/twitter.png') no-repeat 0 0;}
	#social #facebook {background:url('images/social/facebook.png') no-repeat 0 0;}
	
	#search {background:url('images/bg-search.png') no-repeat top right;}
	#search input {color:#f1fab7; text-shadow:0 -1px 0 #1b1a13; background: none;}
	#search input:focus {color:#fff;}
	
	.copyright p {color:#1b1a13; text-shadow:0 1px 0 #7c7958;}
	
/* Contact Page -------------*/
	.contact #contactform p {border-top:1px solid #ebebeb;}

/* Regular Buttons -------------*/
	.button-1, .button-2, .button-3 {background:#7d888c;}
	.button-1 {color:#fff;}
	.button-1:hover {color:#fff; background:#a83a0a;}
	.button-2 {color:#fff;}
	.button-2:hover {color:#fff; background:#726e53;}
	.button-3 {color:#fff;}
	.button-3:hover {color:#fff; background:#373c3f;}

/* Large Buttons -------------*/
	.form-submit input[type=submit],
	.button-large-1,
	.button-large-2,
	.button-large-3 {color:#fff !important;}

	.form-submit input[type=submit]:hover,
	.button-large-1:hover, .button-large-2:hover, 
	.button-large-3:hover {
		color:#fff;
	}
	.button-large-1 {background:url('images/bg-large-button.png') repeat-x top #a83a0a; border: 1px solid #833e20;}
	.form-submit input[type=submit], 
	.button-large-2 {background:url('images/bg-large-button.png') repeat-x top #726e53; border: 1px solid #575342;}
	.button-large-3 {background:url('images/bg-large-button.png') repeat-x top #373c3f; border: 1px solid #202325;}
	
	
	
	
	