﻿@model IEnumerable<MvcMyBlog.Models.Post>

@{
    ViewBag.Title = "Categories - " + @Request["catname"];
}

 
<h2>Category - @Request["catname"]</h2>
 
     

@foreach (var item in Model)
{
    <article class="post col-8-wrap format-audio clearfix">
						
						<!--
                        
                        <figure class="col-3">
							<a href="blog_single.html"><img src="_images/assets/entry-3-col-2-list.jpg" width="220" height="157" alt="Threaded Awesomeness"></a>
						</figure>

                        -->

						<header>
							<h3 class="post-title" style="padding-left:9px;">@Html.ActionLink(item.Title.ToString(), "Details", new { id=item.PostID })</h3>
						</header>
						<div class="entry">
							<p>@Html.DisplayTextFor(modelItem => item.Text)</p>                 
						</div>
						<div class="cl"></div>
						<footer class="meta">
							<p><strong>Category: </strong>@Html.DisplayFor(modelItem => item.CategoryPost.Category) &nbsp;|&nbsp; <strong>Date: </strong>@Html.DisplayFor(modelItem => item.Date)    |   <a class="comments" href="">@Html.DisplayFor(modelItem => item.Comments.Count)</a>  |  <strong>Tags</strong> : @Html.DisplayFor(modelItem => item.Tags)</p>
						</footer>
					</article>
			
					<div class="cl"></div>
}


</div>    <!--  ZA DA SE ZATVORI RenderBody()    -->




<!-- Side Bar -->
					
                    <aside class="col-4">
						
						<div class="widget widget-style-1">
							<h4>Categories</h4>
							<ul>
                            @using (Html.BeginForm("Categories", "Home", FormMethod.Get)) 
                            
                            {
                                
                                <li><a href="Categories?catname=Web Design">Web Design</a></li>
                                <li><a href="Categories?catname=Graphic Design">Graphic Design</a></li>  
                                <li><a href="Categories?catname=Motion Graphics">Motion Graphics</a></li> 
                                <li><a href="Categories?catname=Usability">Usability</a></li>
                                <li><a href="Categories?catname=Mobile apps">Mobile apps</a></li>                                     
                                
                            }
							</ul>
						</div>
					
                    
						
					</aside>

                   

				<!-- / Side Bar -->


