﻿@model MvcMyBlog.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Post</legend>

        @Html.HiddenFor(model => model.PostID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
             @Html.TextAreaFor(model => model.Text, new { @class = "ckeditor" })
         @Html.ValidationMessageFor(model => model.Text)
        </div>

         <script type="text/javascript">
             $(document).ready(function () {
                 $(this).parents('form:first').submit(function () {
                     for (instance in CKEDITOR.instances) {
                         CKEDITOR.instances[instance].updateElement();
                     }
                 });
             });
      </script>

        <br />


        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryPostID, "CategoryPost")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryPostID", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryPostID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tags)
            @Html.ValidationMessageFor(model => model.Tags)
        </div>

        
        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


</div>    <!--  ZA DA SE ZATVORI RenderBody()    -->




<!-- Side Bar -->
					
                    <aside class="col-4">
						
						<div class="widget widget-style-1">
							<h4>Categories</h4>
							<ul>
                           
                                
                                <li><a href="Categories?catname=Web Design">Web Design</a></li>
                                <li><a href="Categories?catname=Graphic Design">Graphic Design</a></li>  
                                <li><a href="Categories?catname=Motion Graphics">Motion Graphics</a></li> 
                                <li><a href="Categories?catname=Usability">Usability</a></li>
                                <li><a href="Categories?catname=Mobile apps">Mobile apps</a></li>                                   
                                
                            
							</ul>
						</div>
					

                  
						
						
					</aside>

                   

			