﻿@model MvcMyBlog.Models.Comment

<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Comment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostID)
            @Html.ValidationMessageFor(model => model.PostID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CommentDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentDate)
            @Html.ValidationMessageFor(model => model.CommentDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CommentContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentContent)
            @Html.ValidationMessageFor(model => model.CommentContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserFullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserFullName)
            @Html.ValidationMessageFor(model => model.UserFullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserEmail)
            @Html.ValidationMessageFor(model => model.UserEmail)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>